.ListItem {
  display: inline-block;
  width: 270px;
  height: 270px;
  vertical-align: top;
  padding: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
  box-shadow: 0px 0px 9px #666;
  border-radius: 10px;
}

.ListItem:nth-child(3n) {
  margin-right: 0;
}

.ListItem-ImageWrapper {
  overflow: hidden;
  height: 210px;
}

.ListItem-ImageWrapper img {
  max-width: 100%;
}